body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    text-align: center;
}

form {
    margin: 20px;
}

select, input, button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}

button {
    background: #ff3c3c;
    color: white;
    cursor: pointer;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: #1e293b;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}
#wm{position:fixed;top:50%;left:50%;transform:translate(-50%,-50%) rotate(-30deg);font-size:140px;font-weight:900;color:rgba(255,255,255,.08);z-index:999999;pointer-events:none;width:100%;text-align:center;line-height:1.1}
#wm span{font-size:90px;display:block;color:rgba(255,255,255,.12)}
